@import '~antd/dist/antd.css';

@import './styles/App.css';
@import './styles/LogIn.css';
@import './styles/DashBoard.css';
@import './styles/BottomNavBar.css';
@import './styles/Register.css';
@import './styles/NewOrder.css';
@import './styles/PackageInfo.css';
@import './styles/SelectMethod.css';
@import './styles/PaymentMethod.css';
@import './styles/UserPanel.css';
@import './styles/SearchPanel.css';
@import "./styles/Order.css";
@import './styles/OrderList.css';
@import "./styles/OrderDrawer.css";
@import "./styles/MapContainer.css";
@import "./styles/FilterTags.css";
@import "./styles/SearchFilter.css";
@import "./styles/MapHelper.css";
@import "./styles/FilterSelect.css";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}