#dashboard {
    padding-bottom: 20px;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: space-around;
}

#control-panel {
    padding-right: 10px;
}

#search-order {
}

