#register {
    padding-bottom: 20px;
    background-color: rgb(245, 245, 245);
}

.register-form {
    margin: auto;
    width: 75%;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    box-shadow: 10px 5px 5px rgb(211, 211, 211);
}

.register-form-button {
    width: 100%;
}